<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <button class="btn btn-success btn-block btn-lg" (click)="onStartGame()">Start Game</button>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-danger btn-block btn-lg" (click)="onStopGame()">Stop Game</button>
    </div>
  </div>
</div>
